<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="pw-form">
    <template>
        <style>
          :host {
            display: block;
          }
          
        </style>
        <iron-form id="ironForm">
          <form action="[[action]]" method="[[method]]" enctype="[[enctype]]" id="form">
            <paper-input
              always-float-label
              label="Nombre"
              required
              type="text"
              auto-validate
              name="name"
              pattern="^[a-zA-Z\s]{7,}$"
              value={{name}}
              placeholder="Escribe tu nombre"
            ></paper-input>
            <paper-input
              always-float-label
              label="Email"
              required
              type="email"
              auto-validate
              name="email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              value={{email}}
              placeholder="Tu email"
            ></paper-input>
            <paper-input
              always-float-label
              label="Telefono"
              required
              type="tel"
              auto-validate
              name="tel"
              value={{tel}}
              placeholder="Tu Teléfono"
            ></paper-input>

            <label>Sexo:</label>
            <paper-radio-group id="radio" selected="H">
                <paper-radio-button name="H">H</paper-radio-button>
                <paper-radio-button name="M">M</paper-radio-button>
            </paper-radio-group>
    
            <paper-button raised on-click="__sendHandler" class="primary">Enviar</paper-button>
            <paper-button raised on-click="__cancelHandler" class="danger">Cancelar</paper-button>
          </form>
        </iron-form>
    
        <iron-ajax
          id="put"
          method="PUT"
          url="https://api.myjson.com/bins/1686ph"
          body="[[data]]"
          content-type="application/json"
          handle-as="json"
          on-response="__responseHandler"
          on-error="__errorResponseHandler"
        ></iron-ajax>
      </template>

  <script>
    /**
     * `pw-form`
     * formulario para el examen
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwForm extends Polymer.Element {
      static get is() { return 'pw-form'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          email: {
            type: String
          },
          tel: {
            type: String
          },
          data: {
            type: Array,
            observer: '_fireCustomEvent' 
          }
        };
      }

      _fireCustomEvent(newValue,oldValue){
        const doneEvent= new CustomEvent('pw-form-add',{
          bubbles:true, //llega hasta los limites del shadow DOM
          composed:true, // pasa los limites del shadow DOM
          detail: this.data
        });
        this.dispatchEvent(doneEvent);
      }

      __sendHandler() {
        const valueRadio = this.$.radio.selected;
        // this.data = [...this.data, ...[{ name: this.name, email: this.email, tel: this.tel }] ];
        this.data = [...this.data, ...[{ name: this.name, email: this.email, tel: this.tel, sexo: valueRadio }] ];
        this.$.put.generateRequest();
      }

      __cancelHandler() {
        console.log(this.$);
        this.$.ironForm.reset();
      }

      __errorResponseHandler(e) {
        console.log(e.detail);
        this.add=false;
      }

      __responseHandler(e) {
       console.log(e.detail);
       this.add=true;
      }
    }

    window.customElements.define(PwForm.is, PwForm);
  </script>
</dom-module>
